.banner-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo_card {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.home_new_list_button {
    margin-top: 5%;
    font-size: 2.3vw;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
}

#your_lists {
    font-family: 'Lexend Exa';
    position: relative;
    font-size: 24pt;
    color: gray;
    font-weight: bold;
}

/* Hovers */

.todo_card:hover, .home_new_list_button:hover {
    opacity: var(--standard-onhover);
    cursor: pointer;
}