/* List Screen */

.task_dashboard {
    padding-bottom: 15px;
}
.task_dashboard:hover {
    opacity: var(--standard-onhover);
}

.item_button_delete {
    background-color : red;
    /* font-size: 10pt; */
  }
  
.item_button_down {
    background-color : purple;
    /* font-size: 10pt; */
}

.item_button_up {
    background-color : blue;
    /* font-size: 10pt; */
}

.disabled {
    background-color: lightgray;
    pointer-events: none
}

.task_contents {
    display: inline !important;
}

.action_buttons_wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
    bottom: 11px;
    margin-left: auto;
    /* margin-right: 1px; */
    /* padding-bottom: 5px; */
}

.space_between_buttons {
    margin: 3px;
}

.action_buttons {
    float: right;
}

.floating_action_button {
    width: 35px;
    height: 35px;
}

/* .floating_action_buttons {
    position: absolute;
    width: 200px;
    margin-left: 70px;
} */

#add_item {
    position : relative;
    text-align: center;
    cursor: pointer;
}

/* On Hovers */

#add_item_icon:hover, #floating_button:hover {
    opacity: var(--standard-onhover);
}

