:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  font-family: 'Lexend Exa';
}

.home_new_list_button {
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}

#description {
  color: black;
  font-weight: bold;
  font-size: 14pt;
}

#assigned_to, #due_date {
  font-weight: bold;
  font-size: 12pt;
  color: black;
}

.header_container{
}

.list_item_task_header {
  position: relative;
  font-weight: bold;
  font-size: 36pt;
  left: 5%;
}

.list_item_due_date_header {
  font-weight: bold;
  font-size: 33pt;
  padding-right: 3%;
}

.list_item_status_header {
  font-weight: bold;
  font-size: 33pt;
  left: 195px;
}

#list_trash {
  font-size: 35pt;
}

#my_modal {
  opacity : 100%;
  background-color: #E1E4CB;
  text-align: center;
}

.modal_content {
  color: #000;
  text-decoration: none;
}

#yes, #no {
  background-color: lightgray;
  border: none;
  color: black;
  border: 1px solid black;
  color: black;
}

#completed {
  font-weight: bold;
  font-size: 12pt;
}

.style_red {
  color : red;
}

.style_green {
  color: green;
}

/* ITEM SCREEN CONTROLS */
#item_heading {}
#item_form_container {}
#item_description_prompt {}
#item_description_textfield {
  border: solid;
  border-width: 1px;
}
#item_assigned_to_prompt {}
#item_assigned_to_textfield {
  border: solid;
  border-width: 1px;
}
#item_due_date_prompt {}
#item_due_date_picker {
  background : white;
  border: solid;
  border-width: 1px;
}
#item_completed_prompt {}
#item_completed_checkbox {}
#item_form_submit_button {}
#item_form_cancel_button {}

/* ITEM SCREEN CLASSES */
.item_prompt {
  font-weight: bold;
  font-size:14pt;
}
.item_input {
font-size: 16pt;
}

.container {
  /* background:  #E6E6E6; */
}

#your_lists {
  font-family: 'Lexend Exa';
  position: relative;
  top: 10px;
  left: 60px;
  font-size: 24pt;
  color: gray;
  font-weight: bold;

}

#item_button1 {
  display: inline-block;
  left:40px;
  width: 35px;
  height: 35px;
  background-color : red;
  /* font-size: 10pt; */
}

.item_button2 {
  display: inline-block;
  left: 30px;
  width: 35px;
  height: 35px;
  background-color : purple;
  /* font-size: 10pt; */
}

.item_button3 {
  display: inline-block;
  left: 20px;
  width: 35px;
  height: 35px;
  background-color : blue;
  /* font-size: 10pt; */
}

.disabled {
  background-color: lightgray;
  pointer-events: none
}